<html>
  <style>
body {
    background-color: lightblue;
}
</style>
<body>
<form action = "/update" method = "POST">
<h3> Enter the student id to be update </h3>
<br>
Student id : <input type = "text" name = "studentid">
<br>
<h3> Enter the new Student Name </h3>
Student Name <input type = "text" name = "studentname">
<br>
<h3> Enter the new Department ID </h3>
Department ID <input type = "text" name = "department">
<br>
<h3> Enter the Age of the new student </h3>
Age <input type = "text" name = "age">
<br>
<input type = "submit" value = "update">
</form>
</body>
</html>
